body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(/IMAGES/Artistic\ blurry\ colorful\ wallpaper\ background\ _\ Free\ Photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

}

.login-box{
  background: rgb(0, 20, 56);
  background: rgba(0, 20, 56, 0.1);
 
  padding:40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 1);
  width: 20%;
}

.login-box h1{
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);

}

.user_data{
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

}
.btn-0{
  width: 30%;
  padding: 12px;
  background: #3e9b2c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  

}

.btn-0:hover{
  background: #1100ff;
}

.btn{
  width: 100%;
  padding: 12px;
  background: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;


}

.btn:hover{
  background: #1100ff;
}


.form-intro{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 45%;
  

}

.form-intro h2{
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-bottom: 10px;
  
}

.form-intro p{
  font-size: 20px;
  color:white;
  margin-top: 5px;
  margin-bottom: 30px;
}